{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}

    <h1>Vous êtes à l'accueil</h1>
    <div class="lead">Bienvenue sur mon site</div>

    {% for x in 1..2 %}
        <div class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius expedita fugiat minus nisi omnis quam sequi, soluta tempora veritatis. Itaque iure laboriosam molestias perspiciatis tempore. Aperiam asperiores consequuntur delectus dolorem ea eius expedita fugiat hic minus nostrum, placeat praesentium?</div>
    {% endfor %}

{% endblock %}
