{% extends 'base.html.twig' %}

{% block title %}Hello TwigController!{% endblock %}

{% block body %}

    <h1>Exercice Twig</h1>


    <h3>1.</h3>


    <hr>
    <h3>2.</h3>


    <hr>
    <h3>3.</h3>


    <hr>
    <h3>4.</h3>


    <hr>
    <h3>5.</h3>


    <hr>
    <h3>6.</h3>


    <hr>
    <h3>7.</h3>


{% endblock %}
