{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}

    <h1>Bienvenue sur mon blog</h1>
    <div class="lead">Découvrez mon univers</div>

    <div class="row mt-5">
        {% for x in 1..12 %}
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <a href="{{ path('blog_article') }}">
                        <img src="https://picsum.photos/id/{{ random(1,1000) }}/400/300" class="card-img-top w-100" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Article {{ x }}</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nostrum officiis quis.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}
