{% extends 'base.html.twig' %}

{% block title %}
    Contact pro
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 mx-auto">

            <div class="text-center">
                <h1>Contact PRO</h1>
                <div class="lead">Nous répondons sous 48h</div>
            </div>

            <form method="POST">

                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="lastname" class="form-label">Nom</label>
                        <input type="text" class="form-control" name="lastname" id="lastname">
                    </div>
                    <div class="col-md-6">
                        <label for="firstname" class="form-label">Prénom</label>
                        <input type="text" class="form-control" name="firstname" id="firstname">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="company" class="form-label">Société</label>
                        <input type="text" class="form-control" name="company" id="company">
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email">
                    </div>
                </div>

                <div class="col-md-12 mt-3">
                    <label for="subject" class="form-label">Sujet</label>
                    <input type="text" class="form-control" name="subject" id="subject">
                </div>

                <div class="col-md-12 mt-3">
                    <label for="message" class="form-label">Votre message</label>
                    <textarea name="message" id="message" rows="7" class="form-control"></textarea>
                </div>

                <div class="text-end mt-3">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>

            </form>

        </div>
    </div>
{% endblock %}
