{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-8 mx-auto">

            <div class="text-center">
                <h1>Contactez-nous</h1>
                <div class="lead">Nous répondons sous 24h</div>
            </div>

            <form class="mt-4">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email">
                </div>

                <div class="mb-3">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="6" class="form-control"></textarea>
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
